{% assign p = include.publication %}
<div class="header">
  <div class="publication-header">
    <div class="publication-type">
      {% if p.type == "journal" %}
      <span>
        {{ p.shortjournal }} :: {{ p.date | date: "%-d %B %Y" }}
      </span>
      {% else %}
      <span>
        {{ p.shortconference }} :: {{ p.date | date: "%-d %B %Y" }}
      </span>
      {% endif %}
    </div>
    <div class="publication-buttons">
      {% if p.type == "journal" %}
      {% if p.openaccess == true %}
      <i class="ai ai-open-access fa-fw fa-2x"></i>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <h2><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></h2>
  <span>
    {% assign authors = p.authors | split: ", " %}
    {% for author in authors %}
    {{ site.data.authors[author].authorname }}
    {% endfor %}
  </span>
</div>
<div class="body publication">
  <p>{{ p.abstract | truncatewords: 75 }}</p>
</div>